@-moz-document url-prefix() {
    .search-icon {
        margin-top: -50px;
    }
}

.justify {
    text-align: justify;
}

.mdl-demo .mdl-card .mdl-card__supporting-text {
    margin-bottom: 0;
}

.project-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.capitalized {
    text-transform: capitalize;
}